{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">
  <!--Flash message -->  <!--Flash message -->
  {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
  {% endfor %}a>

  <ul class="nav navbar-nav navbar-right">
  {% if current_user.is_authenticated %}
    <!-- Login form -->
    {{wtf.quick_form(login_form)}}
    <p> Don't have an account? <a href="{{url_for('auth.register')}}">Sign up here</a></p>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}

</div>
{% endblock %}
